# Ambiente Virtual
venv/
/venv
*.env
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuração e credenciais
config.ini
credentials.json

# Build artifacts
build/
dist/
*.spec
obf/
Output/

# Logs
app_log.txt
logs/

# IDE
.vscode/
.idea/